body {
  background-color: purple;
  align-content: center;
  background-size: 100px;
  text-align: center;
}

#all-pets {
  color: blue;
}

.individual-pet {
  font-family: arial;
  padding: 50px;
  text-align: center;
  margin: auto;
  color: yellow;
  width: 60%;
  height: auto;
   border: 3px solid #73AD21;
}

.individual-pet img {
  width: 100%;
  height: auto;
  align-content: center;
}
